:root {
  /* color */

  --color-while: #ffffff;
  --color-black: #000000;
  --color-primary: #f79901;
  --color-tundora: #4d4d4d;
  --color-gray: #828282;
  --color-ebony-clay: #252b42;
  --background-text: linear-gradient(
    110.87deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  --background-hero: 3
      radial-gradient(
        112.95% 114.34% at 100% 100%,
        #fdab01 0%,
        rgba(253, 171, 1, 0) 100%
      ),
    linear-gradient(0deg, #d7d7d7, #d7d7d7);

  /* font-size */

  --font-size-xs: 1.4rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2rem;
  --font-size-lg: 4rem;

  /* line height */

  --line-height-xs: 20px;
  --line-height-sm: 23px;
  --line-height-md: 24px;
  --line-height-lg: 30px;
  --line-height-xl: 46.88px;

  /* font weight */
  --font-weight-default: 300;
  --font-weight-xs: 400;
  --font-weight-sm: 500;
  --font-weight-md: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}
